* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: 'Poppins', sans-serif;
}

.left-column {
  font-family: "Poppins", sans-serif;
  color: rgb(243, 235, 235);
  margin-right: 80px;

}

.left-column h1{
    font-weight: 700;
}

.left-column p{
    font-weight: 500;

}

.right-column {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.trial {
  margin-bottom: 35px;
  background-color: hsl(248, 32%, 49%);
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

form {
  background: white;
  border-radius: 5px;

  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form p{
  font-size: 12px;
  font-weight: 400;
}

form span{
    color: hsl(0, 100%, 74%);

}

input {
  width: 400px;
  padding: 0.7rem;
  margin-bottom: 30px;
  border-radius: 5px;
}

.error {
  color: red;
  display: none;
}

button {
  background-color: hsl(154, 59%, 51%);
  border: none;
  padding: 15px;
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 426px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.thankyou {
  display: none;
}



@media (max-width: 375px) {
  *{
    margin: 0%;
    padding: 0%;
  }

  body{
    background-image: url("./images/bg-intro-mobile.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.left-column{
  width: 320px;
  margin-right: 0px;
  margin-bottom: 30px;
}

.right-column{
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form{
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



input{
  width: 250px;
}

button{
  width: 280px;
}
  
}